@font-face {
    font-family: "LightsOut";
    src: url(./lightout.woff);
}

@font-face {
    font-family: "RomanAntique";
    src: url(./RomanAntique.woff);
}

@font-face {
    font-family: "RomanAntique";
    src: url(./RomanAntique-Italic.woff);
    font-style: italic;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: black;
    color: white;
    padding: 1em;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.stylized-font {
    font-family: "RomanAntique", 'Times New Roman', Times, serif;
    font-size: 1.4em;
}

.quote {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5em 1.5em;
    margin: -0.5em;
    border-radius: 0.25rem;
}

.quote::before {
    content: "“";
    font-size: 1.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.quote::after {
    content: "”";
    font-size: 1.5em;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #A33426;
    font-family: "LightsOut";
    margin: 0;
}

h2 {
    font-size: 1.8em;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
}

.with-aside {
    display: flex;
    gap: 1em;
}

.with-aside aside {
    flex: 1;
}

.with-aside main {
    flex: 3;
}

.logo {
    max-width: 512px;
}

img {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

img.max-content {
    max-width: max-content;
}

p {
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0.25em 0 0 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

ul li::before {
    content: "•";
    color: #A33426;
    display: inline-block;
    margin: 0.5em;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.my {
    margin-top: 2em;
    margin-bottom: 2em;
}
.my-s{
    margin-top: 1em;
    margin-bottom: 1em;
}
.mt-s {
    margin-top: 1em;
}

a, .highlight {
    color: #A33426;
}

a:has(img) {
    text-decoration: none;
}

button {
    background: #A33426;
    color: white;
    border: none;
    font-size: 1em;
    padding: .5em 1em;
    margin: 0.5em 0;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}

button.huge {
    font-size: 2em;
    padding: .8em 1em;
}

button.gray {
    background: #333;
}

input {
    width: 100%;
    padding: .5em;
    margin: 0.5em 0;
    font-size: 1em;
}

.range {
    display: flex;
    gap: 1em;
    align-items: center;
    flex: 1;
}

.range input[type="range"] {
    width: 100%;
}

.range input[type="number"] {
    width: 60px;
}

.bg-gray {
    background-color: rgba(255, 255, 255, 0.1);
}

.p {
    padding: 0.5em 1em;
}

.parameter {
    display: flex;
    gap: 1em;
    font-size: 0.8em;
    align-items: center;
}

.parameter label {
    width: 100px;
}

.parameter input:disabled {
    color: black;
    font-weight: bold;
}

.flex {
    display: flex;
    gap: 1em;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.discord {
    height: 0.9em;
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1em;
}

.grid.tight {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.h-300 {
    max-height: 300px;
    overflow: auto;
}

.duration {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.duration span {
    font-size: 1.5em;
    flex-grow: 1;
}

.duration span:last-of-type {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.3);
    flex: 0;
}

.illustration {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    margin: 0 auto;
    opacity: .1;
}

.illustration img {
    position: absolute;
    max-width: 960px;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    mask-image: url(./vignette.png);
    mask-mode: luminance;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    padding: 0.5em 0;
    justify-content: center;
}

.gallery a {
    display: block;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    transition-timing-function: ease-out;
    filter: grayscale(100%);
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.gallery img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
    z-index: 2;
    border-color: transparent;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
